<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>The Invisible Hand</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src = "https://i.ytimg.com/vi/dD1CzmlqxVA/maxresdefault.jpg">
<h2>Description</h2>
<b>Want to get rich, quick? Welcome to FERIOS, where you’ll be empowered to pursue wealth and success as a mid-level stockbroker! Your wildest dreams of wealth can come true… at the cost of everything else.</b>
<hr>
  <ion-button [routerLink]="['/interest-invisible-hand']">Interest in game</ion-button>
</ion-content>
