<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>Resident Evil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src = "https://cdn.vox-cdn.com/thumbor/pEQXpeReFRbSjFtndiJdzoVbHMk=/1400x788/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22446823/revillagekeyart.jpg">
<h2>Description</h2>
<b>Resident Evil Village[a] is a survival horror game developed and published by Capcom. A major installment in the Resident Evil series and a narrative sequel to 2017's Resident Evil 7: Biohazard,[1] the game follows Ethan Winters, who, after a fateful encounter with Chris Redfield, finds himself in a village filled with mutant creatures in an effort to find his kidnapped daughter. While Village maintains the series' mainstay survival horror elements, the game adopts a more action-oriented gameplay style compared to its predecessor.

  Resident Evil Village also includes an online multiplayer mode. The game was announced at the PlayStation 5 reveal event in June 2020 and was released on May 7, 2021, for Windows, PlayStation 4, PlayStation 5, Xbox One, Xbox Series X/S and Stadia.[2][3] Resident Evil Village received generally favorable reviews, being praised for its gameplay, setting, and variety, although it received criticism for its puzzles and boss battles. The game's action-orientated approach over its predecessor received more mixed opinions.</b>

<hr>
  <ion-button [routerLink]="['/interest']">Interest in game</ion-button>
</ion-content>
